.title{

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;

}

h3{

    font-size: 15px;
    font-weight: 100;
    margin-bottom: 0;

}

.semester {

    border-style: solid;
    border-radius: 5px;
    border-color: grey;
    margin: 2%;
    width: 80%;
    height: 20%;
    padding: 0 2%;

}


p {
    
    width: 80px;
    min-width: none;
    height: 60px;
    font-size: 10px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -40px;
    
}

.class-container {

    display: flex;
    justify-content: space-evenly;

}

.class-div {

    flex: .17;
    padding: auto;
    border-style: solid;
    border-width: 2px;
    width: 100px;
    height: 60px;
    margin: 2% 2%;
    position: relative;

}

.classDesc {

    text-align: center;

}

.form {

    width: 5em;
    border:none;
    border-bottom: 2px solid black;
    margin-top: 3%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;

}


#year_title {

    display:block;
    margin-bottom: 0%;

}

.navbar {

    display: block;
    position: fixed;
    border-style: solid;
    background-color: antiquewhite;
    width: auto;
    height: auto;

}